.footerArea{
    background-color: #000;
    min-height: 44px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color:#FFFFFFB5;

    @media screen and (max-width:767px) {
        padding: 30px;
        text-align: center;
    }
}
.footerTextArea{
    display: flex;
    align-items: center;
    min-height: 44px;

    span{
        color: #fff;
    }
    .middleTxt{
        text-align: center;
    }
    .rightText{
        text-align: right;
    }
    @media screen and (max-width:767px) {
        .rightText{
            text-align: center;
            display: block;
            margin: 10px auto 10px;
        }  
        .middleTxt{
            text-align: center;
            display: block;
            margin: 0px auto 0px;
        }  
        .col-md-4.col-sm-12{
            order: 3;
        }
        .col-md-4.col-sm-12.middleTxt{
            order: 1;
        }
        .col-md-4.col-sm-12.rightText{
            order: 2;
        }
    }
}