<!-- banner are start -->
<div class="bannerArea">

</div>
<!-- banner are end -->

<!-- body area start -->
<div class="contArea">
    <div class="container-fluid">
        <div class="categorySec">
            <h1><span class="blueTxt">Connect your phone</span> to control the experience</h1>
            <div class="catArea">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>All</a>
                        <ng-template ngbNavContent>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="grayBox" (click)="detailspage()">
                                        <div class="boxContent">
                                            <div class="imgArea">
                                                <img src="./../assets/images/catgory_img.png" alt="" srcset="">
                                            </div>
                                            <div class="ContArea">
                                                <div class="developTxt">Developed by: Ubox Team</div>
                                                <div class="heading">Lorem Ipsum is simply</div>
                                                <div class="contentText">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="grayBox">
                                        <div class="boxContent">
                                            <div class="imgArea">
                                                <img src="./../assets/images/catgory_img.png" alt="" srcset="">
                                            </div>
                                            <div class="ContArea">
                                                <div class="developTxt">Developed by: Ubox Team</div>
                                                <div class="heading">Lorem Ipsum is simply</div>
                                                <div class="contentText">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="grayBox">
                                        <div class="boxContent">
                                            <div class="imgArea">
                                                <img src="./../assets/images/catgory_img.png" alt="" srcset="">
                                            </div>
                                            <div class="ContArea">
                                                <div class="developTxt">Developed by: Ubox Team</div>
                                                <div class="heading">Lorem Ipsum is simply</div>
                                                <div class="contentText">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="grayBox">
                                        <div class="boxContent">
                                            <div class="imgArea">
                                                <img src="./../assets/images/catgory_img.png" alt="" srcset="">
                                            </div>
                                            <div class="ContArea">
                                                <div class="developTxt">Developed by: Ubox Team</div>
                                                <div class="heading">Lorem Ipsum is simply</div>
                                                <div class="contentText">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="grayBox">
                                        <div class="boxContent">
                                            <div class="imgArea">
                                                <img src="./../assets/images/catgory_img.png" alt="" srcset="">
                                            </div>
                                            <div class="ContArea">
                                                <div class="developTxt">Developed by: Ubox Team</div>
                                                <div class="heading">Lorem Ipsum is simply</div>
                                                <div class="contentText">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="grayBox">
                                        <div class="boxContent">
                                            <div class="imgArea">
                                                <img src="./../assets/images/catgory_img.png" alt="" srcset="">
                                            </div>
                                            <div class="ContArea">
                                                <div class="developTxt">Developed by: Ubox Team</div>
                                                <div class="heading">Lorem Ipsum is simply</div>
                                                <div class="contentText">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="grayBox">
                                        <div class="boxContent">
                                            <div class="imgArea">
                                                <img src="./../assets/images/catgory_img.png" alt="" srcset="">
                                            </div>
                                            <div class="ContArea">
                                                <div class="developTxt">Developed by: Ubox Team</div>
                                                <div class="heading">Lorem Ipsum is simply</div>
                                                <div class="contentText">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="grayBox">
                                        <div class="boxContent">
                                            <div class="imgArea">
                                                <img src="./../assets/images/catgory_img.png" alt="" srcset="">
                                            </div>
                                            <div class="ContArea">
                                                <div class="developTxt">Developed by: Ubox Team</div>
                                                <div class="heading">Lorem Ipsum is simply</div>
                                                <div class="contentText">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="grayBox">
                                        <div class="boxContent">
                                            <div class="imgArea">
                                                <img src="./../assets/images/catgory_img.png" alt="" srcset="">
                                            </div>
                                            <div class="ContArea">
                                                <div class="developTxt">Developed by: Ubox Team</div>
                                                <div class="heading">Lorem Ipsum is simply</div>
                                                <div class="contentText">Lorem Ipsum is simply dummy text of the
                                                    printing and typesetting industry. Lorem Ipsum has been the
                                                    industry's.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink>Education</a>
                        <ng-template ngbNavContent>
                            
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="3">
                        <a ngbNavLink>Games</a>
                        <ng-template ngbNavContent>
                            
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="4">
                        <a ngbNavLink>Sports</a>
                        <ng-template ngbNavContent>
                            
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="5">
                        <a ngbNavLink>Arts</a>
                        <ng-template ngbNavContent>
                            
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="6">
                        <a ngbNavLink>Music</a>
                        <ng-template ngbNavContent>
                            
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="7">
                        <a ngbNavLink>For kids</a>
                        <ng-template ngbNavContent>
                            
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="8">
                        <a ngbNavLink>Shopping</a>
                        <ng-template ngbNavContent>
                            
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </div>
</div>
<!-- body area end -->