.contAreaDetails{
    margin: 0 auto;
    padding: 0;
    background-color: #171717;
    min-height: 500px;
    width:100%;
    .contAreaDetailsInner{
        margin: 0 auto;
        padding: 0 20px;
        background-color: transparent;
        width:100%;
    }
}