.contAreaDetails{
    margin: 0 auto;
    padding: 0;
    background-color: #171717;
    //min-height: 500px;
    width:100%;
    min-height: 100vh;
    @media only screen and (min-width:1600px) {
        min-height:1036px;
    }
    .contAreaDetailsInner{
        margin: 0 auto;
        padding:100px 20px 50px 20px;
        background-color: transparent;
        width:100%;
        @media only screen and (max-width:767px) {
            padding:70px 0 25px 0;
        }
    }
    .contAreaDetailsLeft{
        display:block;
        margin:0 auto;
        padding:0;
        width:100%;
        background-color:transparent;
        float:none;   
        .contAreaDetailsLeftTop{
            display:block;
            margin:0 auto;
            padding:0 0 30px 0;
            width:100%;
            background-color:transparent;
            float:none;
            border-bottom:1px dashed #7f7f7f;
            @media screen and (max-width:575px) {
                border-bottom: none;
                padding-bottom: 10px;
            }
            .grayBox{
                display:block;
                margin:0 auto;
                background-color:transparent;
                padding:0;
                float:none;
                .boxContent{
                    display:block;
                    margin:0 auto;
                    background-color:transparent;
                    padding:0;
                    float:none;
                    .imgArea{
                        display:block;
                        margin:0;
                        background-color:transparent;
                        padding:0;
                        border-radius:10px;
                        -moz-border-radius:10px;
                        -webkit-border-radius:10px;
                        float:left;
                        width:25%;
                        img{
                            display:block;
                            margin:0;
                            max-width: 100%;  
                        }
                    }
                    .ContArea{
                        display:block;
                        margin:0;
                        background-color:transparent;
                        padding:0 0 0 30px;
                        float:left;
                        width:75%;
                        .developTxt{
                            display:block;
                            margin:0;
                            font-size:14px;
                            span{
                                color:#fff;
                                display:inline-block;
                                text-transform:uppercase;
                            }
                        }
                        .heading{
                            display:block;
                            margin:0;
                            color: #fff;
                            font-weight:600;
                            margin:5px 0;
                            font-size:25px;
                            @media screen and (min-device-width:767px) and (max-device-width:991px) {
                                font-size:18px;
                            }
                        }
                        .contentText{
                            display:block;
                            margin:0;
                            font-size:16px;
                            font-family:'Nunito', sans-serif;
                        }
                    }
                    @media screen and (max-width:575px) {
                        .ContArea{
                            float:none;
                            width:100%;
                            padding:0;
                        }
                        .imgArea{
                            float:none;
                            width:100%;
                            margin:0 auto 20px;
                        }
                    }
                }
            }
            .btn.btn-primary{
                border-radius:30px; 
                -moz-border-radius:30px; 
                -webkit-border-radius:30px; 
                display:block;
                background-color:#359fd3;
                border-color:#359fd3;
                min-height:42px;
                margin-top:15px;
                font-size:16px;
                @media screen and (min-device-width:767px) and (max-device-width:991px) {
                    font-size:14px;
                    line-height:32px;
                    min-height:32px;
                }
                @media screen and (min-width:575px) {
                    display: none;
                }
            }
        }
        .contAreaDetailsLeftBottom{
            display:block;
            margin:0 auto;
            padding:40px 0 0 0;
            width:100%;
            background-color:transparent;
            float:none;
            .videoFrame{
                display:block;
                margin:0 auto;
                padding:0;
                width:100%;
                background-color:transparent;
                float:none;
                .ratio{
                    display:block;
                    margin:0 auto;
                    padding:0;
                    border-radius:10px; 
                    -moz-border-radius:10px; 
                    -webkit-border-radius:10px; 
                    iframe{
                        display:block;
                        margin:0 auto;
                        padding:0;
                        border-radius:10px; 
                        -moz-border-radius:10px; 
                        -webkit-border-radius:10px; 
                    }
                }
                h4{
                    display:none;
                    margin:20px auto 10px;
                    padding:0;
                    font-size:16px;
                    color:#fff;
                    font-weight:700;
                    font-style:normal;
                }
                h5{
                    display:none;
                    margin:0 auto 15px;
                    padding:0;
                    font-size:16px;
                    font-weight:400;
                    font-style:normal;
                    font-family: 'Nunito', sans-serif;
                }
                @media screen and (max-width:575px) {
                    h4, h5{
                        display:block;
                    }
                    border-bottom:1px dashed #7f7f7f;
                    padding-bottom: 20px;
                    margin-bottom: 30px;
                }

            }
            .videoFrameContent{
                display:block;
                margin:0 auto;
                padding:0;
                width:100%;
                background-color:transparent;
                float:none;
                h3{
                    display:block;
                    margin:0 auto 25px;
                    padding:0;
                    font-size:16px;
                    color:#fff;
                    font-weight:400;
                    font-style:normal;
                }
                .ratio{
                    display:block;
                    margin:0 auto 30px;
                    padding:0;
                    border-radius:10px; 
                    -moz-border-radius:10px; 
                    -webkit-border-radius:10px; 
                    iframe{
                        display:block;
                        margin:0 auto;
                        padding:0;
                        border-radius:10px; 
                        -moz-border-radius:10px; 
                        -webkit-border-radius:10px; 
                    }
                }
                h4{
                    display:block;
                    margin:0 auto 15px;
                    padding:0;
                    font-size:16px;
                    color:#fff;
                    font-weight:700;
                    font-style:normal;
                }
                h5{
                    display:block;
                    margin:0 auto 25px;
                    padding:0;
                    font-size:16px;
                    font-weight:400;
                    font-style:normal;
                    font-family: 'Nunito', sans-serif;
                }
                .btn.btn-primary{
                    border-radius:30px; 
                    -moz-border-radius:30px; 
                    -webkit-border-radius:30px; 
                    display:block;
                    background-color:#359fd3;
                    border-color:#359fd3;
                    min-height:42px;
                    font-size:16px;
                    font-weight:700;
                    @media screen and (min-device-width:767px) and (max-device-width:991px) {
                        font-size:14px;
                        line-height:32px;
                        min-height:32px;
                    }
                    @media screen and (max-width:575px) {
                        display: none;
                    }
                }
                @media screen and (max-width:575px) {
                    h4, h5{
                        display:none;
                    }
                    border-bottom: 1px solid #3a3a3a;
                    padding-bottom: 30px;
                }
            }
            @media screen and (max-width:575px) {
                padding-top:20px;
            }
        }
    }
    .contAreaDetailsRight{
        display:block;
        margin:0 auto;
        padding:0 0 0 40px;
        width:100%;
        background-color:transparent;
        float:none;    
        @media screen and (max-width:767px) {
            padding:30px 0 0 0;
        }
        h3{
            display:block;
            margin:0;
            color: #fff;
            font-weight:700;
            margin:0 auto 20px;
            font-size: 20px;
            text-align: center;
        }
        ul{
            list-style:none;
            padding:0;
            li{
                margin:0;
                background-color:transparent;
                float:none;    
                list-style:none;
                .grayBox{
                    display:block;
                    background-color: #252525;
                    padding:7px;
                    border-radius:10px;
                    -moz-border-radius:10px;
                    -webkit-border-radius:10px;
                    margin:0 auto 20px;
                    width:100%;
                    .boxContent{
                        display:block;
                        width:100%;
                        margin:0 auto;
                        padding:0;
                        .imgArea{
                            display:block;
                            width:100%;
                            margin:0 auto 10px;
                            padding:0;
                            border-radius:10px;
                            -moz-border-radius:10px;
                            -webkit-border-radius:10px;
                            img{
                                display:block;
                                width:100%;
                                margin:0 auto;
                                padding:0;
                                border-radius:10px;
                                -moz-border-radius:10px;
                                -webkit-border-radius:10px;
                                max-width:100%;
                            }
                        }
                        .ContArea{
                            display:block;
                            width:100%;
                            margin:0 auto;
                            padding:0;
                            .developTxt{
                                display:block;
                                width:100%;
                                font-size:14px;
                                margin:0 auto;
                                padding:0;
                                font-weight:400;
                                color:#FFFFFF6B;
                                span{
                                    display:inline-block;
                                    font-weight:600;
                                    text-transform:uppercase;
                                }
                            }
                            .heading{
                                display:block;
                                width:100%;
                                color: #fff;
                                font-weight:700;
                                margin:5px auto 20px;
                                padding:0;
                                font-size: 17px;
                                @media screen and (min-device-width:767px) and (max-device-width:991px) {
                                    font-size:14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}