<div class="contAreaDetails">
    <div class="container-fluid">
        <div class="contAreaDetailsInner">
            <div class="row">
                <!--Left Open-->
                <div class="col-sm-12 col-md-7 col-lg-7">
                    <div class="contAreaDetailsLeft">
                        <!--Top Open-->
                        <div class="contAreaDetailsLeftTop">
                            <div class="grayBox">
                                <div class="boxContent">
                                    <div class="imgArea">
                                        <img src="./../assets/images/deatils-img-1.jpg" alt="" srcset="">
                                    </div>
                                    <div class="ContArea">
                                        <div class="developTxt">Developed by <span>Ubox Team</span></div>
                                        <div class="heading">Lorem ipsum dolar sit amet, consetetur sa sed</div>
                                        <div class="contentText">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</div>
                                        <a href="#" class="btn btn-primary">Try this experience</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!--Top Close-->
                        <!--Bottom Open-->
                        <div class="contAreaDetailsLeftBottom">
                            <div class="row">
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <div class="videoFrame">
                                        <div class="ratio ratio-4x3">
                                            <iframe
                                              src="https://www.youtube.com/embed/qIRjytgNuhM"
                                              title="YouTube video"
                                              allowfullscreen
                                            ></iframe>
                                        </div>
                                        <h4>Entry device</h4>
                                        <h5>We use a phone and kinetict sensors</h5>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5">
                                    <div class="videoFrameContent">
                                        <h3>About UBOX TEAM</h3>
                                        <div class="ratio ratio-16x9">
                                            <iframe
                                              src="https://www.youtube.com/embed/qIRjytgNuhM"
                                              title="YouTube video"
                                              allowfullscreen
                                            ></iframe>
                                        </div>
                                        <h4>Entry device</h4>
                                        <h5>We use a phone and kinetict sensors</h5>
                                        <a href="#" class="btn btn-primary">Try this experience</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Bottom Close-->
                    </div>
                </div>
                <!--Left Close-->
                <!--Right Open-->
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div class="contAreaDetailsRight">
                        <h3>Explore more experiences</h3>
                        <ul class="row">
                            <li class="col-sm-6 col-md-6">
                                <div class="grayBox">
                                    <div class="boxContent">
                                        <div class="imgArea">
                                            <img src="./../assets/images/deatils-img-2.jpg" alt="" srcset="">
                                        </div>
                                        <div class="ContArea">
                                            <div class="developTxt">Developed by <span>Ubox Team</span></div>
                                            <div class="heading">Me we by Muhammad Ali</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6">
                                <div class="grayBox">
                                    <div class="boxContent">
                                        <div class="imgArea">
                                            <img src="./../assets/images/deatils-img-3.jpg" alt="" srcset="">
                                        </div>
                                        <div class="ContArea">
                                            <div class="developTxt">Developed by <span>Ubox Team</span></div>
                                            <div class="heading">Changing by Walking</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6">
                                <div class="grayBox">
                                    <div class="boxContent">
                                        <div class="imgArea">
                                            <img src="./../assets/images/deatils-img-4.jpg" alt="" srcset="">
                                        </div>
                                        <div class="ContArea">
                                            <div class="developTxt">Developed by <span>Ubox Team</span></div>
                                            <div class="heading">Lorem ipsum dolar sit amet, consetetur sadipscing elitr</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-md-6">
                                <div class="grayBox">
                                    <div class="boxContent">
                                        <div class="imgArea">
                                            <img src="./../assets/images/deatils-img-5.jpg" alt="" srcset="">
                                        </div>
                                        <div class="ContArea">
                                            <div class="developTxt">Developed by <span>Ubox Team</span></div>
                                            <div class="heading">Lorem ipsum dolar sit amet, consetetur sa sed</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Right Close-->
            </div>
        </div>
    </div>    
</div>