/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    margin: 0;
    padding: 0;
    color: #8a8c8e;
    font-size: 13px;
    overflow-x: hidden;
}

.menuOn .navbar-brand{
    filter: blur(2px);
}

.menuOn .home{
    filter: blur(2px);
}
.menuOn .contAreaDetails{
    filter: blur(2px);
}
.menuOn .footerArea{
    filter: blur(2px);
}
.menuOff .navbar-collapse{
    right: -383px !important;
}
.menuOn .navbar-collapse{
    right:0 !important;
}

