<div class="searchListing">
    <!--Search Box Open-->
    <div class="searchBoxMobile">
        <form class="d-flex searchArea">
            <input class="form-control me-2 search" type="search" placeholder="Search experience" aria-label="Search">
            <button class="search-btn" type="button">
                <img src="assets/images/search.png" alt="" srcset="">
            </button>
        </form>
    </div>
    <!--Search Box Close-->
    <!--Search Top Bar Open-->
    <div class="searchTopBar">
        <form role="form">
            <ul class="searchFilter" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <li>
                    <label for="experienceType">Experience Type:</label>
                    <select name="ExperienceType" id="experienceType">
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                    </select>
                </li>
                <li>
                    <label for="ExperiencePorpuse">Experience's Porpuse:</label>
                    <select name="ExperiencePorpuse" id="ExperiencePorpuse">
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                    </select>
                </li>
                <li>
                    <label for="ExperienceContext">Experience's Context:</label>
                    <select name="ExperienceContext" id="ExperienceContext">
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                    </select>
                </li>
                <li>
                    <label for="CreativeCompany">Creative Company:</label>
                    <select name="CreativeCompany" id="CreativeCompany">
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                        <option value="Any Type">Any Type</option>
                    </select>
                </li>
            </ul>
            <button type="button" class="btn btn-outline-primary btn-toggle-searchFilter" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                <img src="assets/images/arrow.png" alt="" srcset="">
            </button>
        </form>
    </div>
    <!--Search Top Bar Close-->
    <!--Search Content Open-->
    <div class="container-fluid">
        <div class="searchListingInner">
            <!--Result Open-->
            <div class="searchListResult">
                <!--<div class="noReult">
                    <h4>We haven't found results</h4>
                    <p>It seems that we have no results related to your search. Please try other words.</p>
                </div>-->
                <div class="row">
                    <div class="col-md-4">
                        <div class="grayBox">
                            <div class="boxContent">
                                <div class="imgArea">
                                    <img src="assets/images/catgory_img.png" alt="" srcset="">
                                </div>
                                <div class="ContArea">
                                    <div class="developTxt">Developed by UBOX TEAM</div>
                                    <div class="heading">Changing by Walking</div>
                                    <div class="contentText">Lorem Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grayBox">
                            <div class="boxContent">
                                <div class="imgArea">
                                    <img src="assets/images/catgory_img.png" alt="" srcset="">
                                </div>
                                <div class="ContArea">
                                    <div class="developTxt">Developed by UBOX TEAM</div>
                                    <div class="heading">Changing by Walking</div>
                                    <div class="contentText">Lorem Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grayBox">
                            <div class="boxContent">
                                <div class="imgArea">
                                    <img src="assets/images/catgory_img.png" alt="" srcset="">
                                </div>
                                <div class="ContArea">
                                    <div class="developTxt">Developed by UBOX TEAM</div>
                                    <div class="heading">Changing by Walking</div>
                                    <div class="contentText">Lorem Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grayBox">
                            <div class="boxContent">
                                <div class="imgArea">
                                    <img src="assets/images/catgory_img.png" alt="" srcset="">
                                </div>
                                <div class="ContArea">
                                    <div class="developTxt">Developed by UBOX TEAM</div>
                                    <div class="heading">Changing by Walking</div>
                                    <div class="contentText">Lorem Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grayBox">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grayBox">

                        </div>
                    </div>
                </div>
            </div>
            <!--Result Close-->
            <!--Related Search Result Open-->
            <div class="searchListResult relatedsearchListResult">
                <h2><span>Other experiences you may like to discover</span></h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="grayBox">
                            <div class="boxContent">
                                <div class="imgArea">
                                    <img src="assets/images/catgory_img.png" alt="" srcset="">
                                </div>
                                <div class="ContArea">
                                    <div class="developTxt">Developed by UBOX TEAM</div>
                                    <div class="heading">Changing by Walking</div>
                                    <div class="contentText">Lorem Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grayBox">
                            <div class="boxContent">
                                <div class="imgArea">
                                    <img src="assets/images/catgory_img.png" alt="" srcset="">
                                </div>
                                <div class="ContArea">
                                    <div class="developTxt">Developed by UBOX TEAM</div>
                                    <div class="heading">Changing by Walking</div>
                                    <div class="contentText">Lorem Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="grayBox">
                            <div class="boxContent">
                                <div class="imgArea">
                                    <img src="assets/images/catgory_img.png" alt="" srcset="">
                                </div>
                                <div class="ContArea">
                                    <div class="developTxt">Developed by UBOX TEAM</div>
                                    <div class="heading">Changing by Walking</div>
                                    <div class="contentText">Lorem Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Related Search Result Open-->
        </div>
    </div>
    <!--Search Content Close-->
</div>