.searchListing{
    margin:0 auto;
    padding:72px 0 50px 0;
    background-color: #171717;
    //min-height: 500px;
    width:100%;
    min-height:100vh;
    @media only screen and (min-width:1600px) {
        min-height:1036px;
    }
    @media only screen and (max-width:767px) {
        padding:70px 0 25px 0;
    }
    .searchTopBar{
        display:block;
        width:100%;
        margin:0 auto;
        padding:15px 20px;
        background-color:#2B2B2B;
        position:relative;
        form{
            display:block;
            width:100%;
            margin:0 auto;
            padding:0;
        }
        .searchFilter{
            display:block;
            width:100%;
            margin:0 auto;
            padding:0;
            li{
                display:inline-block;
                margin:0;
                padding:0 30px;
                border-right:1px solid #403F3F;
                label{
                    display:inline-block;
                    margin:0 15px 0 0;
                    padding:0;
                    color:#B0B3B5;
                    font-family:'Nunito', sans-serif;
                    font-size:16px;
                    font-weight:400;
                    font-style:normal;
                }
                select{
                    display:inline-block;
                    margin:0;
                    color:#B0B3B5;
                    font-family:'Nunito', sans-serif;
                    font-size:16px;
                    font-weight:400;
                    font-style:normal;
                    border-radius:25px;
                    -moz-border-radius:25px;
                    -webkit-border-radius:25px;
                    border:1px solid #707070;
                    background-color:transparent;
                    padding:3px 15px;
                    min-width:150px;
                    option{
                        font-size:16px;
                        font-weight:400;
                        font-style:normal;
                    }
                }
                &:first-child{
                    padding-left:0;
                }
                &:last-child{
                    padding-right:0;
                    border-right:none;
                }
                @media screen and (min-device-width:1200px) and (max-device-width:1450px) {
                    padding:0 20px;
                    label{
                        margin-right:8px;
                        font-size:14px;
                    }
                    select{
                        font-size:14px;
                        min-width:100px;
                        max-width:120px;
                        option{
                            font-size:14px;
                        }
                    }
                }
                @media screen and (min-device-width:992px) and (max-device-width:1199px) {
                    padding:0 10px;
                    label{
                        margin-right:5px;
                        font-size:14px;
                    }
                    select{
                        font-size:14px;
                        min-width:90px;
                        max-width:90px;
                        padding:3px 7px;
                        option{
                            font-size:14px;
                        }
                    }
                }
            }
            @media only screen and (max-width:991px) {
                display:block;
                visibility:visible;
                height:35px;
                min-height:35px;
                overflow:hidden;
                li{
                    display:flex;
                    width:100%;
                    padding:0 0 20px 0;
                    border:none;
                    margin: 0 auto 20px;
                    border-bottom:1px solid #403F3F;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content:space-between;
                    align-items:center;
                    &:last-child{
                        border-bottom:none;
                        margin-bottom:0;
                        padding-bottom:0;
                    }
                    select{
                        max-height:30px;
                        min-height:30px;
                    }
                }
            }
        }
        .searchFilter.collapse.show{
            @media only screen and (max-width:991px) {
                display:block;
                visibility:visible;
                height:auto;
                min-height:35px;
                overflow:visible;
            }
        }
        .btn.btn-toggle-searchFilter{
            display:none;
            @media only screen and (max-width:991px) {
                display:block;
                background-color:#2B2B2B;
                border-radius:99%;
                -moz-border-radius:99%;
                -webkit-border-radius:99%;
                width:40px;
                height:40px;
                border:5px solid #171717;
                position:absolute;
                outline:none;
                box-shadow:none;
                bottom:-20px;
                top:auto;
                left:calc(50% - 20px);
                text-align: center;
                margin:0 auto;
                padding:0;
                img{
                    max-width:100%;
                    width:15px;
                    display:block;
                    margin:0 auto;
                }
            }
        }
        .btn.btn-toggle-searchFilter[aria-expanded="true"]{
            img{
                transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
            }
        }
    }
    .searchListingInner{
        margin:0 auto;
        padding:0 20px 0 20px;
        background-color:transparent;
        width:100%;
        @media only screen and (max-width:767px) {
            padding:0;
        }
        .searchListResult{
            display:block;
            width:100%;
            margin:40px auto 0;
            padding:0;
            float:none;
            .grayBox{
                background-color: #252525;
                padding: 7px;
                border-radius: 10px;
                margin-bottom: 20px;
                min-height:165px;
            }
            .boxContent{
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                img{
                    border-radius: 10px;
                    width: 100%;
                }
                .imgArea{
                    width: 40%;
                }

                .ContArea{
                    padding-left: 2%;
                    width: 58%;
                }
            }
            .developTxt{
                font-size: 14px;
            }
            .heading{
                color: #fff;
                font-weight:600;
                margin: 5px 0;
                font-size: 17px;
            }
            .contentText{
                font-size: 14px;
                font-family: 'Nunito', sans-serif;
                line-height: 19px;
            }
            @media screen and (min-device-width:1200px) and (max-device-width:1350px) {
                .grayBox{
                    min-height: 185px;
                }
            }
            @media (max-width:991px) {
                .boxContent{
                    flex-direction: column;
                    .imgArea{
                        width: 100%;
                        img{
                            width: 100%;
                            height: 120px;
                            object-fit: cover;
                        }
                    }
                    .ContArea{
                        padding-left: 0;
                        margin: 10px 0;
                        width: 100%;
                    }
                    .contentText{
                        display: none;
                    }
                }
            }
            .noReult{
                margin:0 auto 50px;
                display:block;
                padding:40px 0;
                width:100%;
                text-align:center;
                h4{
                    font-size:23px;
                    font-family: 'Nunito', sans-serif;
                    font-weight:700;
                    font-style:normal;
                    margin:0 auto 15px;
                    padding:0;
                    color:#fff;
                }
                p{
                    color:#B0B3B5;
                    font-size:18px;
                    font-family:'Nunito', sans-serif;
                    font-weight:400;
                    font-style:normal;
                    margin:0 auto;
                    padding:0;
                }
            }
        }
        .searchListResult.relatedsearchListResult, .relatedsearchListResult{
            margin:30px auto 0;
            display:block;
            padding:0;
            h2{
                margin:0 auto 30px;
                display:block;
                padding:0; 
                text-align:center;
                font-family:'Nunito', sans-serif;
                font-size:20px;
                font-weight:400;
                font-style:normal;
                position: relative;
                span{
                    display:inline-block;
                    padding:0 20px;
                    margin:0;
                    background-color: #171717;
                    position: relative;
                    z-index: 3;
                }
                &:before, &:after{
                    content:'';
                    width:30%;
                    height:1px;
                    background-color:#3C3C3C;
                    position:absolute;
                    top:12px;
                    z-index: 2;
                }
                &:before{
                    right:20%;
                }
                &:after{
                    left:20%;
                }
            }
        }
    }
    .searchBoxMobile{
        display:none;
        @media (max-width:991px) {
            display:block;
            margin:0 auto 20px;
            padding:0 20px;
            .searchArea {
                display:flex;
                align-items:center;
                position:relative;
                form{
                    position:relative;
                }
                .search-btn{
                    display: block;
                    margin:0;
                    padding:0;
                    border:none;
                    background-color:transparent;
                    box-shadow:none;
                    outline:none;
                    position:absolute;
                    top:13px;
                    right:17px;
                    img{
                        display:block;
                        width:20px;
                    }
                }
                .search{
                    padding-right: 30px;
                }
                .search {
                    background-color:#2b2b2b;
                    border:none;
                    border-radius:20px;
                    padding:5px 10px;
                    font-size:12px;
                    color:#fff;
                    min-width:200px;
                    min-height:45px;
                    font-size:16px;
                    font-weight:700;
                
                    &:focus,
                    &:active {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}